<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

 <!--Main-->

 <main id="site-main">
    <div class="container">
      <div class="box-nav d-flex justify-between">
       <div class="filter">
           <a href="/"><i class="fas fa-angle-double-left"> </i>All The Cool People</a>
       </div>
    </div>
    <div class="form-title text-center">
       <h2 class ="text-dark">Update Cruddie Info</h2>
       <span class ="text-light">Use the form to update Cruddie Info</span>
    </div>

    <!--add user form-->
    <!--form handling stuff-->
   <form method="POST" id="update_user">
    <div class="new_user">
     <div class="form-group">
         <label for= "name" class="text-light">Name</label>
         <input type="hidden" name="id" value="<%=user._id %>">
         <input type="text" name="name" value="<%= user.name %>" placeholder="Billy McCruddy">
     </div>
     <div class="form-group">
         <label for= "Email" class="text-light">Email</label>
         <input type="text" name="email" value="<%= user.email %>" placeholder="example@gmail.com">
     </div>
     <div class="form-group">
         <label for= "sucks" class="text-light">Failing?</label>
         <div class="radio inline">
           <input type="radio" id="radio-2"  name="sucks" value="Yes" <%= user.sucks == 'Yes' ? 'checked': '' %>>
           <label for="radio-2" class="radio-label">Yes</label>
         </div>
         <div class="radio inline">
             <input type="radio" id="radio-3" name="sucks" value="No" <%= user.sucks == 'No' ? 'checked': '' %>> 
             <label for="radio-3" class="radio-label">No</label>
           </div>
           </div>
           
           <div class="form-group">
             <label for="sucks" class="text-light">Cool or Not?</label>
             <div class="radio inline">
                 <input type="radio" id="radio-4" name="status" value="Cool" <%= user.status == 'Cool' ? 'checked': '' %>> 
                 <label for="radio-4" class="radio-label">Cool</label>
             </div>
             <div class="radio inline">
                 <input type="radio" id="radio-5" name="status" value="Not Cool" <%= user.status == 'Not Cool' ? 'checked': '' %>> 
                 <label for="radio-5" class="radio-label">Not Cool</label>
             </div>
         </div>
             
         <div class="form-group">
           <button type="submit" class="btn text-dark update">Save</button>
         </div>
    
    </div>
  </form>

    </div>

   </main>
   <!--/Main-->

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->